source/NodeRed/flows.json
[{"id":"9168237a.a1f8b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"66e6d8d5.0b16b","type":"ui_form","z":"9168237a.a1f8b","name":"HeatSensorinput","label":"HeatSensorsInput","group":"d2680dc6.2039","order":0,"width":0,"height":0,"options":[{"label":"Longitude","value":"Longitude","type":"number","required":true,"rows":null},{"label":"Latitude","value":"Latitude","type":"number","required":true,"rows":null},{"label":"Type","value":"Type","type":"text","required":true,"rows":null},{"label":"GUID","value":"ID","type":"number","required":true,"rows":null}],"formValue":{"Longitude":"","Latitude":"","Type":"","ID":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":900,"wires":[["2b32d483.b88184","454ca335.f972e4"]]},{"id":"66d30faa.8549e","type":"cloudant in","z":"9168237a.a1f8b","name":"","cloudant":"ade2e496.3072d","database":"projectwarden","service":"project-warden-cloudant-1592030912063-51383","search":"_all_","design":"","index":"GUID","x":360,"y":420,"wires":[["aa8945bd.b4d1c","ff79dfd0.a55fa8"]]},{"id":"aa8945bd.b4d1c","type":"debug","z":"9168237a.a1f8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":640,"wires":[]},{"id":"ff79dfd0.a55fa8","type":"function","z":"9168237a.a1f8b","name":"","func":"\nvar output     = [];\nvar guidoutput = [];\nfor(var i=0;i<msg.payload.length;++i)\n{\n        var a    = msg.payload[i];\n        var b    = a.payload;\n        output.push(b);\n}\nmsg.options = output;\nmsg.payload = output;\nmsg.topic   = \"task2\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["ea0f5257.df5958","626cb907.3fbed8","840d7ffc.e41048"]]},{"id":"ea0f5257.df5958","type":"debug","z":"9168237a.a1f8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":640,"wires":[]},{"id":"524145e4.27c164","type":"ui_dropdown","z":"9168237a.a1f8b","name":"","label":"","tooltip":"","place":"Select option","group":"c3ef3fb6.583e08","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1020,"y":420,"wires":[["f5369e32.4909a","a803ac11.02cea8"]]},{"id":"626cb907.3fbed8","type":"function","z":"9168237a.a1f8b","name":"","func":"var out = [];\nfor(var i = 0; i<msg.payload.length; ++i)\n{\n    if(msg.payload[i] == null)\n        continue;\n    out.push(msg.payload[i].ID);\n}\nmsg.options = out;\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":420,"wires":[["2e3cb1f1.9b3196","524145e4.27c164"]]},{"id":"2e3cb1f1.9b3196","type":"debug","z":"9168237a.a1f8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":640,"wires":[]},{"id":"f9293d28.aba8d","type":"ui_button","z":"9168237a.a1f8b","name":"","group":"c3ef3fb6.583e08","order":2,"width":0,"height":0,"passthru":false,"label":"Get All Sensors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":420,"wires":[["66d30faa.8549e"]]},{"id":"840d7ffc.e41048","type":"function","z":"9168237a.a1f8b","name":"","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.task1 != null && context.data.task2 != null) \n{\n    msg = new Object;\n    for(var i=0;i<context.data.task2.length;++i)\n    {\n        if(context.data.task2[i] == null || context.data.task2[i] === null) continue;\n        \n        if(context.data.task2[i].ID == context.data.task1[0])\n        {\n            msg.payload = context.data.task2[i];\n            break;\n        }\n        context.data.task2 = context.data.task1 = null;\n    }\n    \n}\nelse \n    return msg;\n    \nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":600,"wires":[["8f12929d.784448","478487f0.557cf"]]},{"id":"f5369e32.4909a","type":"function","z":"9168237a.a1f8b","name":"","func":"msg.topic = \"task1\";\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":420,"wires":[["840d7ffc.e41048"]]},{"id":"a803ac11.02cea8","type":"debug","z":"9168237a.a1f8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":640,"wires":[]},{"id":"8f12929d.784448","type":"debug","z":"9168237a.a1f8b","name":"Display CurrentSelected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1710,"y":660,"wires":[]},{"id":"478487f0.557cf","type":"ui_text","z":"9168237a.a1f8b","group":"d5b29363.f70ce","order":0,"width":0,"height":0,"name":"","label":"Selected HeatSensor to simulate","format":"{{msg.payload}}","layout":"row-left","x":1890,"y":600,"wires":[]},{"id":"6dadda1e.b690e4","type":"function","z":"9168237a.a1f8b","name":"Process results","func":"\nvar I = {\n    \"Longitude\":-1,\n    \"Latitude\":1,\n    \"Type\":String(\"\"),\n    \"ID\":-1,\n    \"Image\":[]\n};\n\nI.Longitude = msg.payload.task1.Longitude;\nI.Latitude  = msg.payload.task1.Latitude;\nI.Type      = msg.payload.task1.Type;\nI.ID        = msg.payload.task1.ID;\nI.Image     = msg.payload.task2.Image;\n\nmsg.payload = I;\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":900,"wires":[["a11cb94a.c10d78","dbf3d34a.fda4d8"]]},{"id":"6f0036bc.3a471","type":"http in","z":"9168237a.a1f8b","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":510,"y":340,"wires":[["115f13ce.707864"]]},{"id":"115f13ce.707864","type":"template","z":"9168237a.a1f8b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n    <h1>Upload an image here:</h1>\n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>\n</center>","output":"str","x":700,"y":340,"wires":[["4430eefe.a962f8"]]},{"id":"4430eefe.a962f8","type":"http response","z":"9168237a.a1f8b","name":"","statusCode":"","headers":{},"x":890,"y":340,"wires":[]},{"id":"494e0b91.c66cdc","type":"http in","z":"9168237a.a1f8b","name":"","url":"/UiUploadImage","method":"post","upload":true,"swaggerDoc":"","x":110,"y":820,"wires":[["bd4f870e.dc7098"]]},{"id":"82c7a613.176a98","type":"change","z":"9168237a.a1f8b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"task2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":840,"wires":[["ff535def.d7b338","451e4155.efec7"]]},{"id":"9831a1b4.c7ea8","type":"ui_template","z":"9168237a.a1f8b","group":"d2680dc6.2039","name":"","order":2,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<center>\n    <h1>Upload an image here:</h1>\n<form action=\"/UiUploadImage\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>\n</center>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":760,"wires":[["f2a7c637.a92d88"]]},{"id":"f2a7c637.a92d88","type":"http response","z":"9168237a.a1f8b","name":"","statusCode":"","headers":{},"x":310,"y":760,"wires":[]},{"id":"2b32d483.b88184","type":"debug","z":"9168237a.a1f8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":1000,"wires":[]},{"id":"dbf3d34a.fda4d8","type":"debug","z":"9168237a.a1f8b","name":"Final Input Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1400,"y":1000,"wires":[]},{"id":"451e4155.efec7","type":"debug","z":"9168237a.a1f8b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":740,"wires":[]},{"id":"ff535def.d7b338","type":"join","z":"9168237a.a1f8b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":900,"wires":[["e00977c6.53f348","6dadda1e.b690e4"]]},{"id":"a11cb94a.c10d78","type":"cloudant out","z":"9168237a.a1f8b","name":"","cloudant":"ade2e496.3072d","database":"projectwarden","service":"project-warden-cloudant-1592030912063-51383","payonly":false,"operation":"insert","x":1400,"y":900,"wires":[]},{"id":"236c71b2.ea1ab6","type":"function","z":"9168237a.a1f8b","name":"Clearing data that will clash with the other msg","func":"var I = \n{\n    \"Image\":[]\n};\nI.Image = msg.payload;\nmsg = null;\nmsg = new Object;\nmsg.payload = I;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":760,"wires":[["82c7a613.176a98"]]},{"id":"62c6b2f8.66c394","type":"debug","z":"9168237a.a1f8b","name":"Element Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":1000,"wires":[]},{"id":"e00977c6.53f348","type":"debug","z":"9168237a.a1f8b","name":"Join output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":1000,"wires":[]},{"id":"454ca335.f972e4","type":"change","z":"9168237a.a1f8b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"task1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":900,"wires":[["ff535def.d7b338"]]},{"id":"bd4f870e.dc7098","type":"change","z":"9168237a.a1f8b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"task2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":820,"wires":[["236c71b2.ea1ab6"]]},{"id":"d2680dc6.2039","type":"ui_group","z":"","name":"DataIn","tab":"ab85d53.bdb0c28","order":3,"disp":true,"width":"6","collapse":false},{"id":"ade2e496.3072d","type":"cloudant","z":"","host":"65f81c72-8cfb-44f9-96ab-4a6fb0634bf8-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"c3ef3fb6.583e08","type":"ui_group","z":"","name":"SearchQuery","tab":"ab85d53.bdb0c28","order":2,"disp":true,"width":"6","collapse":false},{"id":"d5b29363.f70ce","type":"ui_group","z":"","name":"Databaseout","tab":"ab85d53.bdb0c28","order":2,"disp":true,"width":"6","collapse":false},{"id":"ab85d53.bdb0c28","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]